<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Krayon Kafe</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body data-gr-c-s-loaded="true">
    <main role="main">
      <div class="container">
        <p><%- include('../partials/search') %></p>
        <p><%- include('../partials/map') %></p>
        <ul>
          <% locationData.forEach(function(location) { %>
          <li><%= location.name %> at Latitude: <%= location.latitude %>, Longitude: <%= location.longitude %></li>
          <% }); %>
        </ul>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write('<script src="js/vendor/jquery.slim.min.js"><\/script>');
    </script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
